
@{
    ViewBag.Title = "AuthorizeResponse";
}
<p>The Yammer authorization process is complete. The main window should automatically move to the next step and you can close this window. If the main window didn't update, you should refresh the main page and try authorizing again.</p>

